.header--topcolumn_wrap{
    background: #858b79;
    height: 80px;
    .companylogoarea{
        background: url('/img/aside_bg.jpg');
        height: 80px;
        line-height: 55px;
    }
    .username_wrap{
        height: 32px;
        font-size: 14px;
        line-height: 32px;
    }

    .indexbannerimg{
        max-height: 44px;
        margin-top: 5px;
    }
}